* {
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-align: center;
}

.header-container button {
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-align: center;
  float: right;
}

.headline {
  position: absolute;
  height: 648px;
  top: 68px;
  background: white url(../images/header-illsutration-mobile.png) 100%;
}

.head-title {
  width: 327px;
  height: 192px;
  margin: 68px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.head-title span {
  color: #36b37e;
}

.head-info {
  width: 327px;
  height: 164px;
  margin: 58px 24px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.header-nav-desktop {
  display: none;
  width: 98px;
}

.social-networks {
  width: 60%;
  margin: 0 auto;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.social-links i {
  color: #505f79;
  left: 27.31%;
  right: 67.36%;
  top: 73.83%;
  bottom: 23.42%;
  font-size: 20px;
}

.angle-down i {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  text-align: center;
}

.social-links i:hover {
  color: white;
  background: #36b37f;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.angle-down {
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.angle-down:hover {
  color: white;
  background: #36b37f;
  font-size: 20px;
  cursor: pointer;
}

.work-container {
  position: absolute;
  height: 3283px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  left: 0;
  top: 708px;
}

.work-container h2 {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.work-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
  width: 331px;
  height: 2972px;
}

.work-card {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.img-card img {
  width: 327px;
  height: 252px;
}

.work-detail {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(50% - 327px / 2);
  bottom: 0;
  gap: 16px;
  width: 327px;
  height: 215px;
  border-radius: 8px;
}

.card-title {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.card-langauages {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 305px;
  height: 32px;
  flex-wrap: wrap;
}

.card-langauages li {
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 10px;
}

.card-btn button {
  background-color: #36b37f;
  border-radius: 4px;
  align-self: center;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 12px;
  margin: 16px;
}

.abt-me {
  background: url(../images/illustration\ 1-\ about\ me-mobile.png) no-repeat 100% 0%, url(../images/illustration\ 2-about\ me\ mobile.png) no-repeat 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  height: 1625px;
  left: 0;
  top: 3980px;
  margin-top: 20px;
}

.abt-me h2 {
  width: 351px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.abt-detail {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.abt-me button {
  width: 159px;
  height: 48px;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.abt-card-container {
  display: flex;
  flex-direction: column;
  width: 328px;
  gap: 24px;
}

.abt-card {
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abt-title {
  width: 337px;
  height: 32px;
  margin: 64px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.abt-me ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.abt-me li {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  align-self: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 879px;
  left: 0;
  top: 5800px;
}

.infos-container {
  display: flex;
  flex-direction: column;
}

.footer h2 {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  left: 0;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.footer-form {
  width: 325px;
  display: flex;
  flex-direction: column;
  left: 0;
  gap: 10px;
  padding-top: 15px;
}

.full-name,
.email,
.msg {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 12px;
}

.last-name {
  display: none;
}

.footer button {
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  align-self: center;
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.footer button:focus {
  background: #008552;
  color: #fff;
}

.footer a {
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  align-self: center;
  color: #42526e;
}

@media (min-width: 768px) {
  .header-container {
    width: 760px;
  }

  .logo {
    display: none;
  }

  .fa {
    display: none;
  }

  .header-container button {
    display: none;
  }

  nav {
    width: 1348px;
    height: 72px;
    left: 0;
    top: 0;
  }

  .header-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    list-style-type: none;
    position: absolute;
    width: 255px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    left: 591px;
    top: 16px;
  }

  .footer a {
    display: none;
  }

  .header-nav-desktop li a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #3a4a42;
  }

  .header-nav-desktop a:hover {
    opacity: 0.8;
    background-color: #639e81;
    color: #fff;
    padding: 14px;
  }

  .headline {
    background: url(../Images/Header-llustration-desktop.png) no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    height: 980px;
    left: 20px;
    right: 20px;
    top: 1px;
    width: 1330px;
  }

  .head-title {
    width: 850px;
    height: 98px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    margin: 200px 200px 20px 260px;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .head-info {
    width: 735px;
    height: 90px;
    margin-bottom: 24px;
  }

  .head-info p {
    width: 735px;
    height: 90px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 290px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 200px;
    margin-top: 2px;
    height: 40px;
    flex: none;
    top: 490px;
  }

  .angle-down {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2);
    bottom: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
    top: 580px;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-left: 102px;
    gap: 24px;
    width: 1171px;
    height: 1090px;
    flex: none;
    order: 1;
    top: 1020px;
    flex-grow: 0;
  }

  .work-container h2 {
    width: 447px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-left: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
    top: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .indicator {
    display: none;
  }

  .work-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 1171px;
    height: 1030px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .work-card {
    width: 369px;
    height: 480px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    background-color: #ebf0ee;
  }

  .work-card :hover {
    transform: scale(102%);
  }

  .img-card {
    left: 0;
    right: 0;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .img-card img {
    width: 100%;
    border-radius: 8px;
  }

  .work-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 336px;
    height: 188px;
    left: calc(50% - 369px / 2);
    bottom: 0;
    background: #fff;
    border-radius: 8px;
  }

  .card-title p {
    width: 300px;
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .card-langauages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 305px;
    height: 32px;
  }

  .abt-me button {
    background: #36b37f;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 4px;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .footer-form button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    margin-right: 555px;
    gap: 10px;
    width: 129px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    flex: none;
  }

  .card-btn button:focus {
    background-color: #008552;
    color: #fff;
  }

  .abt-me {
    background: url(../images/illustration\ about\ me\ desktop.png) no-repeat 100% 0%, url(../images/illustration-about-me-2-desktop.png) no-repeat 1px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    overflow: hidden;
    gap: 48px;
    width: 100%;
    height: 640px;
    top: 2140px;
  }

  .abt-me h2 {
    width: 247px;
    height: 42px;
    margin-left: 80px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .abt-detail {
    width: 710px;
    height: 96px;
    margin-left: 100px;
    margin-top: -20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    top: 1400px;
  }

  .abt-me button:focus {
    background-color: #008552;
    color: #ffff;
  }

  .abt-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 24px;
    width: 1171px;
    height: 360px;
  }

  .abt-card {
    width: 369px;
    height: 352px;
    display: flex;
    flex-direction: column;
  }

  .abt-title {
    width: 337px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 32px;
    text-align: center;
    color: #344563;
  }

  .abt-card ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    width: 303px;
    height: 88px;
  }

  .abt-card li {
    height: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .footer {
    background:
      url(../Images/contact\ form-illustratoin-3-desktop.png) no-repeat 100% 90%,
      url(../Images/illustration-2-contact-form-desktop@2x.png) no-repeat 20% 85%,
      url(../Images/illustration-1-contact-form-desktop.png) no-repeat 0% 95%;
    display: flex;
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
    width: 100%;
    height: 590px;
    left: 0;
    top: 2940px;
    bottom: 0;
  }

  .infos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
    width: 1175px;
    height: 460px;
    gap: 24px;
    padding: 0 0;
  }

  .infos-container h2 {
    width: 460px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
    text-align: justify;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 330px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .dash {
    width: 100%;
    border-top: 2px solid #dfe1e6;
    margin-top: 280px;
  }
}
